* {
  transition: all 0.3s;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  header {
    border-bottom: 1px solid gray;
    nav {
      height: 50px;
      display: flex;
      > div {
        display: flex;
        align-items: center;
        font-size: 10px;
        white-space: nowrap;
        &.brand {
          & {
            color: black;
          }
        }
        a {
          color: gray;
          text-decoration: none;
          &:hover {
            color: rgba(black, 0.8);
          }
          &:active {
            color: black;
          }
        }
        &:not(:last-child) {
          padding-right: 20px;
        }
      }
      .logo {
        height: 100%;
        max-width: 100%;
      }
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
