.user--profile {
  background-color: #333738;
  color: #c0c3cd;
  padding: 16px 32px;
}

.profile--picture {
  margin-bottom: 2em;
  max-width: 100%;
  height: auto;
}

.user--info {
  display: inline-block;
  vertical-align: top;
  margin-left: 2em;
}

.user--pseudo {
  margin-bottom: 1em;
}

#coordinates--map {
  height: 300px;
  width: 100%;
}

.leaflet-marker-icon {
  background-image: none;
}
