#bookpage {
  display: flex;
  flex: 1;
  border-top: 1px solid lightgrey;
  .left {
    width: 300px;
    padding: 10px;
    max-height: 100vh;
    overflow: auto;
    .back-button {
      cursor: pointer;
    }
    .search-options {
      color: grey;
      font-size: 14px;
      .title {
        font-size: 13px;
        font-style: italic;
      }
      .categories {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        .category {
          padding: 2.5px 5px;
          border: 1px solid lightgray;
          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
    }
    .results {
      margin-top: 20px;
      font-size: 14px;
      ul {
        padding: 0;
        margin-top: 10px;
        li {
          display: flex;
          border-bottom: 1px solid lightgrey;
          padding-bottom: 10px;
          margin-bottom: 10px;
          &.hoverable {
            cursor: pointer;
            &:hover {
              background: whitesmoke;
            }
          }
          .cover {
            width: 75px;
            margin-right: 10px;
            img {
              width: 75px;
              height: 100px;
              object-fit: cover;
              background: url('https://images-na.ssl-images-amazon.com/images/I/61ztm36SbiL._SX258_BO1, 204, 203, 200_.jpg')
                no-repeat center / cover;
            }
          }
          .details {
            font-size: 12px;
            .title {
              font-weight: bold;
              a {
                color: black;
              }
            }
            .description {
              font-size: 10px;
            }
            .metas {
              display: flex;
              > div:not(:last-child) {
                margin-right: 5px;
              }
              i {
                margin-right: 2.5px;
              }
              .favorites {
                color: darkorange;
              }
              .likes {
                color: red;
              }
            }
          }
        }
      }
    }
  }
  .right {
    flex: 1;
    .map {
      height: 100%;
      > div {
        height: 100%;
      }
    }
  }
}
