.book--cover {
  background: url('../../assets/images/404_cover_not_found.jpg') no-repeat
    center / cover;
  width: 160px;
  height: 240px;
  border: solid 1px;
}

.book {
  padding-bottom: 5em;
  padding-top: 2em;
  padding-right: 1em;
}

.book--title {
  font-size: 18px;
  max-width: 160px;
  max-height: 2em;
  text-overflow: ellipsis;
  padding-bottom: 2em;
}

.book--description {
  max-width: 160px;
  max-height: 1em;
  text-overflow: ellipsis;
}
