.book {
  cursor: pointer;
}
.book:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.book:hover .book-image img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.book:active {
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}
.book .book-image {
  padding-top: 100%;
  position: relative;
  width: 100%;
}
.book .book-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
