header nav {
  height: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0 20px;
}
header nav .right,
header nav .left {
  display: -webkit-box;
  display: flex;
}
header nav .right > div,
header nav .left > div {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 10px;
  white-space: nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
header nav .right > div:not(:first-child),
header nav .left > div:not(:first-child) {
  padding-left: 20px;
}
header nav .right > div.brand a,
header nav .left > div.brand a {
  color: black;
  font-weight: bold;
}
header nav .right > div a,
header nav .left > div a {
  color: gray;
  text-decoration: none;
}
header nav .right > div a:hover,
header nav .left > div a:hover {
  color: rgba(0, 0, 0, 0.8);
}
header nav .right > div a:active,
header nav .left > div a:active {
  color: black;
}
header nav .logo {
  height: 100%;
}
